# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dotenvs
.env

# Ignore SQLite database files
*.db

# Local development
docker-compose.gcp.yml

db/

auth/

backup/
backups/

notes/